@font-face {
  font-family: 'Pixel';
  src: url('project-b-template/Pixelify_Sans/static/PixelifySans-VariableFont_wght.ttf') format('truetype'); /* TTF 格式的字体文件路径 */
}
html,
body {
  height: 100%;
  font-family: 'Pixel';
  text-align: center;
}

body,
p {
  margin: 1;
  padding: 1;
  font-size: x-large;
}
.image{
  position: fixed;
  z-index: -1;
  top:0;
  left:0;
}
p{
  font-size:50px;
}
.small{
  font-size:20px;
}
.red{
  font-size: 30px;
  color:rgb(192, 63, 63)
}
.yellow{
  font-size: 20px;
  color:rgb(209, 199, 59)
}
.green{
  font-size: 20px;
  color:rgb(60, 186, 102)
}
.blue{
  font-size:30px;
  color:rgb(64, 179, 207)
}
#canvasContainer {
  display: block;
}